In [9]:
# https://graphcms.com/blog/wine-db

In [2]:
import pandas as pd

In [6]:
filename = 'https://gist.githubusercontent.com/motleydev/689ac7b59fdecf5f70579e700ffb9524/raw/65db79a2b50a42716e2123334337f0058cc1372c/wine.csv'
wine = pd.read_csv(filename, encoding='utf-8', sep=',', header=0)
wine.head()

       kind            value
0  Bold_Red           Malbec
1  Bold_Red   Syrah / Shiraz
2  Bold_Red        Mourvèdre
3  Bold_Red         Pinotage
4  Bold_Red     Petite Sirah

In [7]:
filename = 'https://gist.githubusercontent.com/motleydev/0d32837213431fd7889d1f029ca58897/raw/9799c0e68f46fb05280d79fbb004777e89d5ca9e/food.csv'
food = pd.read_csv(filename, encoding='utf-8', sep=',', header=0)
food.head()

  classification                  kind           value
0          Dairy   SOFT CHEESE & CREAM            brie
1          Dairy   SOFT CHEESE & CREAM      mascarpone
2          Dairy   SOFT CHEESE & CREAM   créme fráiche
3          Dairy        PUNGENT CHEESE            bleu
4          Dairy        PUNGENT CHEESE      gorgonzola

In [8]:
filename = 'https://gist.githubusercontent.com/motleydev/709d3f8e1ea0aef6af67f613dfb8b635/raw/d3127a05520c72a89d498491ff078042b0936d8c/foodClasses.csv'
foodClasses = pd.read_csv(filename, encoding='utf-8', sep=',', header=0)
foodClasses.head()

,classification,kind,pairing,wfpp
0,Meat,RED MEAT,Bold_Red;Medium_Red,Bold_Red
1,Meat,CURED MEAT,Bold_Red;Medium_Red;Light_Red;Rose;Sparking;S...,Light_Red;Sweet_White
2,Meat,PORK,Bold_Red;Medium_Red;Rose;Sparking,Medium_Red
3,Meat,POULTRY,Medium_Red;Light_Red;Rose;Rich_White;Ligt_Whi...,Light_Red;Rich_White
4,Meat,MOLLUSK,Ligt_White;Sparking,Sparking