In [15]:
import pandas as pd
import numpy as np
import csv
pd.set_option('display.expand_frame_repr', False)

In [9]:
# %cd ../../data/semmeddb
!ls

RESULTS-FINAL-SAMPLE.csv  output  pkinfam.tsv

In [10]:
pkinfam = pd.read_csv('pkinfam.tsv', sep='\t')
results = pd.read_csv('RESULTS-FINAL-SAMPLE.csv', sep='\t',
                      usecols=['ProteinKinase_ID', 'KinaseLabel', 'ProteinSubstrate_ID', 'SubstrateLabel', 'Site', 'Score'])

print(pkinfam.head())
print(results.head())

  kinase_family kinase_name kinase_id
0           AGC        AKT1    P31749
1           AGC        AKT2    P31751
2           AGC        AKT3    Q9Y243
3           AGC       MRCKA    Q5VT25
4           AGC       MRCKB    Q9Y5S2
  ProteinKinase_ID KinaseLabel ProteinSubstrate_ID SubstrateLabel  Site     Score
0           P22607       FGFR3              P46108            CRK  Y251  0.899359
1           P22607       FGFR3              P46108            CRK  Y239  0.899359
2           P22607       FGFR3              P46108            CRK  Y108  0.899359
3           P22607       FGFR3              P46108            CRK   Y47  0.899359
4           P22607       FGFR3              P46108            CRK  Y136  0.899359

In [52]:
filter = 'AKT1'
df_aux = results.loc[results['KinaseLabel']==filter].copy()
df_aux['Score'] = df_aux['Score'].apply(lambda x: np.round(x, 3))
grouped = df_aux.groupby(['KinaseLabel', 'SubstrateLabel']).agg({'Score': ['min','max']})
grouped.columns = grouped.columns.map('_'.join)
grouped['Score Range'] = grouped.apply(lambda row: str(row['Score_min']) + ' - ' + str(row['Score_max']), axis=1)
grouped.drop(['Score_min', 'Score_max'], axis=1, inplace=True)
grouped = grouped.reset_index()
grouped.head()
# grouped[grouped.SubstrateLabel=='ITA4']
# len(grouped)
# grouped.columns

  KinaseLabel SubstrateLabel    Score Range
0        AKT1          1433Z  0.733 - 0.794
1        AKT1           2A5A   0.729 - 0.76
2        AKT1           2A5D   0.732 - 0.75
3        AKT1            4ET  0.766 - 0.766
4        AKT1          AAKB1  0.711 - 0.741

In [51]:
filter = 'AKT1'
df_aux = results.loc[results['SubstrateLabel']==filter].copy()
# print(df_aux.head())
df_aux['Score'] = df_aux['Score'].apply(lambda x: np.round(x, 3))
grouped = df_aux.groupby(['KinaseLabel', 'SubstrateLabel']).agg({'Score': ['min','max']})
grouped.columns = grouped.columns.map('_'.join)
grouped = grouped.sort_values(by='Score_min', ascending=False).reset_index()
grouped['Score Range'] = grouped.apply(lambda row: str(row['Score_min']) + ' - ' + str(row['Score_max']), axis=1)
grouped.drop(['Score_min', 'Score_max'], axis=1, inplace=True)
grouped.head()
# len(grouped)
# grouped[grouped.SubstrateLabel=='ITA4']
# grouped.columns

  KinaseLabel SubstrateLabel    Score Range
0        AKT1           AKT1    0.77 - 0.77
1        MK15           AKT1  0.768 - 0.768
2        MK12           AKT1  0.766 - 0.766
3       KAPCA           AKT1   0.758 - 0.78
4        KGP1           AKT1  0.758 - 0.768