In [1]:
import pandas as pd
%cd ../../data/chatbot
!ls

/usr/local/bin/notebooks/data/chatbot
Consumer_Complaints.csv		 frames-data-v1.tar.gz	   twcs.csv
cl2017sample.tar.gz		 frames.json		   twcs_tmobile.csv
customer-support-on-twitter.zip  telco-customer-churn.zip

In [14]:
df = pd.read_csv('twcs_tmobile.csv')
df.head()
# df.dtypes

,Unnamed: 0,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,620,1066,TMobileHelp,False,Tue Oct 31 22:28:46 +0000 2017,"@115910 Hey, Trevor! Send us a DM, and we'll t...",NaN,1067.0
1,627,1156,TMobileHelp,False,Tue Oct 31 22:24:01 +0000 2017,@115912 @115913 Thanks for getting that DM sen...,NaN,1157.0
2,630,1160,TMobileHelp,False,Tue Oct 31 22:23:40 +0000 2017,@115914 Yay for T-Mobile Tuesdays- lets's get ...,NaN,1161.0
3,631,1161,115914,True,Tue Oct 31 22:19:01 +0000 2017,@TMobileHelp trying to redeem a free tuesday c...,1160,NaN
4,632,1162,TMobileHelp,False,Tue Oct 31 22:22:53 +0000 2017,"@115915 Well, we'd be happy to take a look at ...",NaN,1163.0

In [9]:
df_cust = df[df.author_id!='TMobileHelp']
len(df_cust)
df_cust.text[:5]

3     @TMobileHelp trying to redeem a free tuesday c...
7                 @TMobileHelp  https://t.co/tznFggbx3Y
9     @TMobileHelp @115918 OK maybe my problem too l...
11    @TMobileHelp Got it. One of them resized to 4x...
13    @TMobileHelp @1247 The @10568 code is not work...
Name: text, dtype: object

In [7]:
df_tm = df[df.author_id=='TMobileHelp']
len(df_tm)

34317

In [58]:
import re,string

def strip_links(text):
    link_regex    = re.compile('((https?):((//)|(\\\\))+([\w\d:#@%/;$()~_?\+-=\\\.&](#!)?)*)', re.DOTALL)
    links         = re.findall(link_regex, text)
    for link in links:
        text = text.replace(link[0], ', ')    
    return text

def strip_all_entities(text):
#     print(text)
    entity_prefixes = ['@','#']
#     for separator in  string.punctuation:
#         if separator not in entity_prefixes :
#             text = text.replace(separator,' ')
    words = []
    for word in text.split():
        word = word.strip()
#         print(word)
#         if word:
        if word[0] not in entity_prefixes:
            words.append(word)
    return ' '.join(words)


# tests = [
# #     "@peter I really love that shirt at #Macy. http://bet.ly//WjdiW4",
# #     "@shawn Titanic tragedy could have been prevented Economic Times: Telegraph.co.ukTitanic tragedy could have been preve... http://bet.ly/tuN2wx",
# #     "I am at Starbucks http://4sh.com/samqUI (7419 3rd ave, at 75th, Brooklyn)",
#     '@TMobileHelp trying to redeem a free tuesday code and its not letting me telling me theres an error can i get help with this?'
# ]
# for t in tests:
#     print(strip_all_entities(strip_links(t)))

In [59]:
df = df_cust.copy().head()
df.text = df.text.apply(lambda x:strip_all_entities(strip_links(x)))
df

,Unnamed: 0,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
3,631,1161,115914,True,Tue Oct 31 22:19:01 +0000 2017,trying to redeem a free tuesday code and its n...,1160,NaN
7,637,1167,115917,True,Tue Oct 31 22:13:16 +0000 2017,",",1166,1168.0
9,639,1170,115917,True,Tue Oct 31 21:47:53 +0000 2017,OK maybe my problem too let me try that resizing.,1168,1171.0
11,641,1172,115918,True,Tue Oct 31 15:20:26 +0000 2017,Got it. One of them resized to 4x4. So instead...,1171,1173.0
13,643,1174,115918,True,Tue Oct 31 14:24:05 +0000 2017,The code is not working when applied at checko...,"1173,1175",NaN