In [134]:
# https://rstudio-pubs-static.s3.amazonaws.com/407929_afc5ef0f2ad648389447a6ca3f4a7cd4.html

In [ ]:
# !pip install sklearn
# !pip install reverse_geocoder

In [81]:
import pandas as pd
import csv
from sklearn import preprocessing
import reverse_geocoder as rg 
import pprint

In [99]:
# %cd ../../data/airbnbdata
!ls

201702_calendar.csv.gz	       201811_neighbourhoods.csv
201702_listings.csv	       201811_reviews.csv
201702_listings.csv.gz	       201811_reviews.csv.gz
201702_listings_geocoded.csv   PPR-ALL.zip
201702_neighbourhoods.csv      airbnbdata.zip
201702_neighbourhoods.geojson  cso.csv
201702_reviews.csv	       dublin_tim_lee.zip
201702_reviews.csv.gz	       neighbourhoods.geojson
201811_calendar.csv.gz	       ppr_data_encoded.csv.zip
201811_listings.csv	       prtb-rents-ctdt.csv
201811_listings.csv.gz

In [109]:
filename = '201702_listings_geocoded.csv' # 94 cols
# filename = '201702_listings.csv' # 15 cols

df = pd.read_csv(filename,
                       encoding='utf-8',
#                        compression='gzip',
                       sep=',',
#                        index_col = 0,
                       header=0
                       )

# already removed:
# - datapoint w/753 min nights
# - non- Dublin City
print(df.shape)
df.head(1)
# df.columns
df.info()

(5376, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5376 entries, 0 to 5375
Data columns (total 7 columns):
street       5376 non-null object
city         5364 non-null object
state        5240 non-null object
zipcode      2071 non-null object
longitude    5376 non-null float64
latitude     5376 non-null float64
geocoded     5376 non-null object
dtypes: float64(2), object(5)
memory usage: 294.1+ KB

In [112]:
df_geo = df.copy()
df_geo = df_geo[['street', 'city', 'state', 'zipcode', 'longitude', 'latitude', 'geocoded']]
df_geo.head(10)

,street,city,state,zipcode,longitude,latitude,geocoded
0,"South Lotts Road, Dublin, Dublin Dublin 4, Ire...",Dublin,Dublin,Dublin 4,-6.234601,53.338696,Ringsend Leinster
1,"Dublin, Leinster 1, Ireland",Dublin,Leinster,1,-6.260862,53.348744,Dublin Leinster Dublin City
2,"Pinehurst, Hainault Road, Foxrock, County Dubl...",Foxrock,County Dublin,NaN,-6.296731,53.359833,Cabra Leinster
3,"Erne House, Dublin, Dublin 2, Ireland",Dublin,Dublin,2,-6.243730,53.342410,Dublin Leinster Dublin City
4,"Gardiner Street Lower, Dublin, County Dublin, ...",Dublin,County Dublin,NaN,-6.257875,53.354777,Drumcondra Leinster
5,"Dorset Street Upper, Dublin, County Dublin, Ir...",Dublin,County Dublin,NaN,-6.262746,53.352532,Drumcondra Leinster
6,"Ballsbridge Terrace, Ballsbridge, Dublin, Ireland",Ballsbridge,Dublin,NaN,-6.227409,53.331988,Ringsend Leinster
7,"Tara Street, Dublin, County Dublin 02, Ireland",Dublin,County Dublin,02,-6.254482,53.346811,Dublin Leinster Dublin City
8,"cherry field Ave lower, Dublin 6, Dublin, Ireland",Dublin 6,Dublin,NaN,-6.244353,53.320850,Milltown
9,"Foley Street, Dublin, Dublin, Ireland",Dublin,Dublin,NaN,-6.249698,53.353068,Fairview

In [113]:
# # split street column on comma
# df_tmp = df_geo['street'].str.split(',', expand=True)
# print(df_tmp.count())
# df_tmp.head()

In [114]:
# Check for missing values
df_geo.count()

street       5376
city         5364
state        5240
zipcode      2071
longitude    5376
latitude     5376
geocoded     5376
dtype: int64