In [1]:
# https://github.com/karthikvijayakumar/Kaggle/blob/master/AirBnB_Seattle/Seattle_AirBnB_exploration.ipynb
# https://www.citypopulation.de/php/ireland-dublin.php
# https://data.gov.ie/dataset/dublin-city-roads-and-streets
# https://www.geopostcodes.com/Dublin_10_Dublin

In [2]:
# !pip install sklearn
# !pip install fuzzywuzzy

In [3]:
import pandas as pd
import numpy as np
import csv
import re
# from fuzzywuzzy import fuzz


pd.set_option('display.max_colwidth', -1)

In [4]:
%cd ../../data/airbnbdata
!ls

/usr/local/bin/notebooks/data/airbnbdata
201702_calendar.csv	      201702_reviews.csv	 201811_reviews.csv
201702_calendar.csv.gz	      201702_reviews.csv.gz	 201811_reviews.csv.gz
201702_listings.csv	      201811_calendar.csv	 column_names.txt
201702_listings.csv.gz	      201811_calendar.csv.gz	 core
201702_listings_geocoded.csv  201811_listings.csv	 geo
201702_listings_preproc.csv   201811_listings.csv.gz	 housing
201702_neighbourhoods.csv     201811_neighbourhoods.csv

In [71]:
# filename = '201702_listings.csv.gz' # 94 cols
filename = '201702_listings_preproc.csv' # 15 cols

df_read = pd.read_csv(filename,
                       encoding='utf-8',
#                        compression='gzip',
                       sep=',',
                       index_col = 'host_id',
                       header=0
                       )

df_read['street'] = df_read['street'].apply(lambda x: x.lower())

    
print(df_read.shape)
df_read.head(1)
df_read[['street']].sample(10)
# df_read.columns

(5376, 93)

                                                                            street
host_id
91558937  dangan park, kimmage, county dublin, ireland
19702710  leinster road, rathmines, dublin, ireland
15424226  baggot lane, ballsbridge, dublin 4 d04p9h7, ireland
7105787   bachelors walk, dublin, dublin 1, ireland
19846261  spencer dock, north wall quay, dublin, dublin, ireland
47660686  ashfield avenue, ranelagh, dublin 6, ireland
54182090  newgrange road, cabra, dublin, ireland
28985174  arran road, drumcondra, county dublin d09 e7n8, ireland
44104279  burleigh mews, burlington road, ballsbridge, dublin, ireland
9682968   inchicore road, dublin, county dublin d8 11, ireland
6517183   block, dublin, dublin dublin 1, ireland
78053697  effra road, rathgar, county dublin d06 v2t8, ireland
15235743  synge place, shaw court, dublin, dublin 8, ireland
50271092  st james's terrace, dublin, county dublin dublin 8, ireland
10913161  the steelworks, foley street, dublin, dublin, ireland
15228775  dublin, dublin, ireland
92396554  rhodaville, mountpleasant avenue lower, ranelagh, county dublin, ireland
37345570  gordon street, dublin, dublin dublin 4, ireland
78323559  collins park, dublin, dublin, ireland
18976273  dublin, dublin, ireland

In [72]:
filename = '201702_reviews.csv.gz' # 15 cols
reviews = pd.read_csv(filename,
                       encoding='latin-1',
                       compression='gzip',
                       sep=',',
#                        index_col = 'host_id',
                       header=0
                       )

print(reviews.shape)
# streets = streets[['street_name', 'new_area_code']]
# streets['street_name'] = streets['street_name'].str.lower()
reviews.head(1)

(141152, 6)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2067000,22332759,2014-11-03,21552104,Valentina,"We felt like home. John is a pefect host, we got lost and he came to show us the right way to reach his house. The room was big and clean and the surrounding area safe. The house is just 30 mins walking from the city center."

#### Clean Street Adress data

In [73]:
# d1|d2|d3|d4|d5|d6|d6W|d7|d8|d9|d10|
# d11|d12|d13|d14|d15|d16|d17|d18|d19|d20|
# d21|d22|d23|d24|
# Dublin 1|Dublin 2|Dublin 3|Dublin 4|Dublin 5|Dublin 6|Dublin 6W|Dublin 7|Dublin 8|Dublin 9|Dublin 10|
# Dublin 11|Dublin 12|Dublin 13|Dublin 14|Dublin 15|Dublin 16|Dublin 17|Dublin 18|Dublin 19|Dublin 20|
# Dublin 21|Dublin 22|Dublin 23|Dublin 24|

In [74]:
pattern = '''
Arran Quay|Ashtown|Ayrfield|
Balbriggan|Baldoyle|Balgriffin|Ballinascorney|Ballinteer|Ballyboden|Ballyboghil|Ballybough|Ballybrack|Ballygall|Ballymun|Balscadden|Beaumont|Blackrock|Blanchardstown|Bohernabreena|Botanic|
Cabinteely|Cabra|Carna|Castleknock|Chapelizod|Cherrywood|Churchtown|Clondalkin|Clonmethan|Clonskeagh|Clontarf|Crumlin|
Dalkey|Decies|Donabate|Drumcondra|Drumfinn|Dubber|Dun Laoghaire|Dundrum|
Edenmore|Edmondstown|
Finglas|Firhouse|Foxrock|
Garristown|Glencullen|Grace|Grange|
Harmonstown|Hollywood|Holmpatrick|Howth|
Inchicore|Inns Quay|
Killiney|Kilmainham|Kilmore|Kilsallaghan|Kimmage|Kinsaley|Kylemore|
Lucan|Lusk|
Malahide|Mansion|Merchants Quay|Mountjoy|
Newcastle|North|
Palmerston|Pembroke|Phoenix|Portmarnock|Priorswood|
Raheny|Rathcoole|Rathfarnham|Rathmines|Rotunda|Royal Exchange|Rush|
Saggart|Shankill|Skerries|South Dock|St. Kevin's|Stillorgan|Sutton|Swords|
Tallaght|Templeogue|Terenure|The Ward|Tibradden|Turnapin|
Ushers|
Walkinstown|Whitehall|Wood Quay|
Abbey Street|Amiens Street| 
Arbour Hill|
Ashtown|
Ayrfield|
Baldoyle|
Balgriffin|
Ballinteer|
Ballsbridge|
Ballyboden|
Ballybough|
Ballyedmonduff|
Ballyfermot|
Ballymun|
Bayside|
Beaumont|
Belcamp|
Belfield|
Blanchardstown|
Bluebell|
Botanic Gardens|
Broadstone|
Cabinteely|
Cabra|
Capel Street|
Carrickmines|
Castleknock|
Chapelizod|
Cherry Orchard|
Churchtown|
Clondalkin|
Clonee|
Clonliffe|
Clonsilla|
Clonskeagh|
Clontarf|
Coolmine|
Coolock|
Coolquay|
Corduff|
Coultry|
Crumlin|
Dame Street|
Darndale|
Dartry|
Dollymount|
Dolphin's Barn|
Donaghmede|
Donnybrook|
Donnycarney|
Dorset Street| 
Drimnagh|
Drumcondra|
Dubber Cross|
Artane|
Dundrum|
East Point|
East Wall|
Elm Mount|
Fairview|
Finglas|
Firhouse|
Foxrock|
Glasnevin|
Goatstown|
Grafton Street|
Grangegorman|
Greenhills|
Griffith Avenue|
Harmonstown|
Harold's Cross|
Henry Street|
Howth|
Inchicore|
Irishtown|
Islandbridge|
Jobstownand|
Kilbarrackand|
Killester|
Kilmainham|
Kilmashogue|
Kilshane Cross|
Kilternan|
Kimmage|
Knocklyon|
Leeson Street|
Leopardstown|
Liberties|
Liffey Valley|
Marino|
Marlborough Street|
Mary Street|
Merchants Quay|
Merrion|
Merrion Square|
Met Eireann|
Milltown|
Mountjoy Square|
Mulhuddart|
Neilstown|
North Strand|
North Wall|
O'Connell Street|
Ongar|
Oxmantown|
Palmerstown|
Parnell Square|
Pembroke|
Perrystown|
Phibsboro|
Phoenix Park|
Portobello|
Priorswood|
Quarryvale|
Raheny|
Ranelagh|
Rathfarnham|
Rathgar|
Rathmines|
Ringsend|
Rockbrook|
Rowlagh|
Sandyford|
Sandymount|
Santry|
Shangan|
Shankill|
Smithfield|
South Circular Road|
St Mobhi|
Stepaside|
Stoneybatter|
Sutton|
Talbot Street|
Tallaght|
Temple Bar|
Templeogue|
Terenure|
The Ward|
Ticknock|
Tyrrelstown|
Walkinstown|
Wexford Street|
Whitehall|
Windy Arbour
'''.replace('\n','').lower()

In [75]:
pattern
type(pattern)

str

In [10]:
df = df_read.copy()
df = df[['street','zipcode', 'description', 'longitude', 'latitude']]

# text='South Lotts Road, Dublin, Dublin Dublin 4, Ireland'
# text = 'county dublin|d8|dublin 2'
# df['test'] = df['street'].str.extract('(Dublin [0-9])', expand=True)
# df['test'] = df['street'].str.extract('(Foxrock|County)', expand=True)

df['street'] = df['street'].str.lower()
df['zipcode'] = df['zipcode'].str.lower()
df['description'] = df['description'].str.lower()

df['street_cleansed'] = df['street'].str.extract(r'('+pattern+')', expand=True)
# df['street_cleansed'] = df['zipcode'].str.extract('('+pattern+')', expand=True)
df['street_cleansed_from_descr'] = df['description'].str.extract(r'('+pattern+')', expand=True)

# try using zipcode value lookup
mask = pd.isnull(df['street_cleansed'])
column_name = 'street_cleansed'
df['street_cleansed'] = np.where(mask, 
                                 df['zipcode'], 
                                 df['street_cleansed'])

# df.loc[[72253535]]
# df = df.loc[[27514157]]
# df
# print(len(df[~pd.isnull(df.street_cleansed_from_descr) & pd.isnull(df.street_cleansed)]))
# df[~pd.isnull(df.street_cleansed_from_descr) & pd.isnull(df.street_cleansed)].head()
# df.head()

In [11]:
# county dublin

print(len(df[df.street_cleansed=='county dublin']))
df[df.street_cleansed=='county dublin'].head()

0

Empty DataFrame
Columns: [street, zipcode, description, longitude, latitude, street_cleansed, street_cleansed_from_descr]
Index: []

#### mapping

In [12]:
# mapping
AreaDict  = {
'Abbey Street' : 'Dublin 1',
'Amiens Street' : 'Dublin 1',
'Capel Street' : 'Dublin 1',
'Dorset Street' : 'Dublin 1',
'Henry Street' : 'Dublin 1',
'Mary Street' : 'Dublin 1',
'Mountjoy Square' : 'Dublin 1',
'Marlborough Street' : 'Dublin 1',
'North Wall' : 'Dublin 1',
'O\'Connell Street' : 'Dublin 1',
'Parnell Square' : 'Dublin 1',
'Talbot Street' : 'Dublin 1',
'Merrion Square' : 'Dublin 2',
'Temple Bar' : 'Dublin 2',
'Grafton Street' : 'Dublin 2',
'Dame Street' : 'Dublin 2',
'Leeson Street' : 'Dublin 2',
'Wexford Street' : 'Dublin 2',
'Ballybough' : 'Dublin 3',
'North Strand' : 'Dublin 3',
'Clonliffe' : 'Dublin 3',
'Clontarf' : 'Dublin 3',
'Dollymount' : 'Dublin 3',
'East Wall' : 'Dublin 3',
'East Point' : 'Dublin 3',
'Fairview' : 'Dublin 3',
'Killester' : 'Dublin 3',
'Marino' : 'Dublin 3',
'Ballsbridge' : 'Dublin 4',
'Belfield' : 'Dublin 4',
'Donnybrook' : 'Dublin 4',
'Irishtown' : 'Dublin 4',
'Merrion' : 'Dublin 4',
'Pembroke' : 'Dublin 4',
'Ringsend' : 'Dublin 4',
'Sandymount' : 'Dublin 4',
'Artane' : 'Dublin 5',
'Coolock' : 'Dublin 5',
'Harmonstown' : 'Dublin 5',
'Kilbarrackand' : 'Dublin 5',
'Raheny' : 'Dublin 5',
'Milltown' : 'Dublin 6',
'Ranelagh' : 'Dublin 6',
'Rathmines' : 'Dublin 6',
'Dartry' : 'Dublin 6',
'Rathgar' : 'Dublin 6',
'Harold\'s Cross' : 'Dublin 6W',
'Templeogue' : 'Dublin 6W',
'Kimmage' : 'Dublin 6W',
'Terenure' : 'Dublin 6W',
'Arbour Hill' : 'Dublin 7',
'Ashtown' : 'Dublin 7',
'Broadstone' : 'Dublin 7',
'Cabra' : 'Dublin 7',
'Grangegorman' : 'Dublin 7',
'Oxmantown' : 'Dublin 7',
'Phibsboro' : 'Dublin 7',
'Smithfield' : 'Dublin 7',
'Stoneybatter' : 'Dublin 7',
'Dolphin\'s Barn' : 'Dublin 8',
'Inchicore' : 'Dublin 8',
'Islandbridge' : 'Dublin 8',
'Kilmainham' : 'Dublin 8',
'Merchants Quay' : 'Dublin 8',
'Portobello' : 'Dublin 8',
'South Circular Road' : 'Dublin 8',
'Phoenix Park' : 'Dublin 8',
'Liberties' : 'Dublin 8',
'Ballymun' : 'Dublin 9',
'Shangan' : 'Dublin 9',
'Coultry' : 'Dublin 9',
'Beaumont' : 'Dublin 9',
'Donnycarney' : 'Dublin 9',
'Drumcondra' : 'Dublin 9',
'Elm Mount' : 'Dublin 9',
'Griffith Avenue' : 'Dublin 9',
'Glasnevin' : 'Dublin 9',
'St Mobhi' : 'Dublin 9',
'Botanic Gardens' : 'Dublin 9',
'Met Eireann' : 'Dublin 9',
'Santry' : 'Dublin 9',
'Whitehall' : 'Dublin 9',
'Ballyfermot' : 'Dublin 10',
'Cherry Orchard' : 'Dublin 10',
'Ballymun' : 'Dublin 11',
'Dubber Cross' : 'Dublin 11',
'Finglas' : 'Dublin 11',
'Glasnevin' : 'Dublin 11',
'Kilshane Cross' : 'Dublin 11',
'The Ward' : 'Dublin 11', 
'Coolquay' : 'Dublin 11',
'Bluebell' : 'Dublin 12',
'Crumlin' : 'Dublin 12',
'Drimnagh' : 'Dublin 12',
'Greenhills' : 'Dublin 12',
'Perrystown' : 'Dublin 12',
'Terenure' : 'Dublin 12',
'Walkinstown' : 'Dublin 12',
'Baldoyle' : 'Dublin 13',
'Bayside' : 'Dublin 13',
'Donaghmede' : 'Dublin 13',
'Sutton' : 'Dublin 13',
'Howth' : 'Dublin 13',
'Ayrfield' : 'Dublin 13',
'Churchtown' : 'Dublin 14',
'Clonskeagh' : 'Dublin 14',
'Dundrum' : 'Dublin 14',
'Goatstown' : 'Dublin 14',
'Rathfarnham' : 'Dublin 14',
'Windy Arbour' : 'Dublin 14',
'Ashtown' : 'Dublin 15',
'Blanchardstown' : 'Dublin 15',
'Castleknock' : 'Dublin 15',
'Coolmine' : 'Dublin 15',
'Clonsilla' : 'Dublin 15',
'Corduff' : 'Dublin 15',
'Mulhuddart' : 'Dublin 15',
'Tyrrelstown' : 'Dublin 15',
'Clonee' : 'Dublin 15',
'Ongar' : 'Dublin 15',
'Ballinteer' : 'Dublin 16',
'Ballyboden' : 'Dublin 16',
'Dundrum' : 'Dublin 16',
'Kilmashogue' : 'Dublin 16',
'Knocklyon' : 'Dublin 16',
'Rockbrook' : 'Dublin 16',
'Balgriffin' : 'Dublin 17',
'Coolock' : 'Dublin 17',
'Belcamp' : 'Dublin 17',
'Darndale' : 'Dublin 17',
'Priorswood' : 'Dublin 17',
'Cabinteely' : 'Dublin 18',
'Carrickmines' : 'Dublin 18',
'Foxrock' : 'Dublin 18',
'Kilternan' : 'Dublin 18',
'Sandyford' : 'Dublin 18',
'Shankill' : 'Dublin 18',
'Ticknock' : 'Dublin 18',
'Ballyedmonduff' : 'Dublin 18',
'Stepaside' : 'Dublin 18',
'Leopardstown' : 'Dublin 18',
'Chapelizod' : 'Dublin 20',
'Palmerstown' : 'Dublin 20',
'Clondalkin' : 'Dublin 22',
'Rowlagh' : 'Dublin 22',
'Quarryvale' : 'Dublin 22',
'Liffey Valley' : 'Dublin 22',
'Neilstown' : 'Dublin 22',
'Firhouse' : 'Dublin 24',
'Jobstownand' : 'Dublin 24',
'Tallaght' : 'Dublin 24',
# 'd01' : 'Dublin 1',
# 'd02' : 'Dublin 2',
# 'd03' : 'Dublin 3',
# 'd04' : 'Dublin 4',
# 'd05' : 'Dublin 5',
# 'd06' : 'Dublin 6',
# 'd07' : 'Dublin 7',
# 'd08' : 'Dublin 8',
# 'd09' : 'Dublin 9',
# 'd10' : 'Dublin 10',
# 'd1' : 'Dublin 1',
# 'd2' : 'Dublin 2',
# 'd3' : 'Dublin 3',
# 'd4' : 'Dublin 4',
# 'd5' : 'Dublin 5',
# 'd6' : 'Dublin 6',
# 'd7' : 'Dublin 7',
# 'd8' : 'Dublin 8',
# 'd9' : 'Dublin 9',
# 'd10' : 'Dublin 10',
# 'd12' : 'Dublin 12',
# '1' : 'Dublin 1',
# '2' : 'Dublin 2',
# '3' : 'Dublin 3',
# '4' : 'Dublin 4',
# '5' : 'Dublin 5',
# '6' : 'Dublin 6',
# '6w' : 'Dublin 6W',
# '7' : 'Dublin 7',
# '8' : 'Dublin 8',
# '9' : 'Dublin 9',
# '01' : 'Dublin 1',
# '02' : 'Dublin 2',
# '03' : 'Dublin 3',
# '04' : 'Dublin 4',
# '05' : 'Dublin 5',
# '06' : 'Dublin 6',
# '07' : 'Dublin 7',
# '08' : 'Dublin 8',
# '09' : 'Dublin 9',
# '10' : 'Dublin 10',
# '11' : 'Dublin 11',
# '12' : 'Dublin 12',
# '13' : 'Dublin 13',
# '20' : 'Dublin 20',
}
AreaDict = dict((k.lower(), v.lower()) for k,v in AreaDict.items())
# AreaDict

#### RegExp

In [86]:
"""
for reference, eircode regexp: re1 = re.search(r'd\d{1,2}\s{0,1}[a-z0-9]{4}', x) # eircode format Dxx xxxx

in this particular case however we can achieve the goal by a more general approach

below is the breakdown of \bd\d{2}|d\s\d{2}|d\d{1}w?|d\s\d{1,2}w?|d\d{1}\b

d\d{2} >> d01, d10
d\s\d{2} >> d 10, d 01
d\d{1}w? >> d6w
d\s\d{1}w? >> d 6w
d\d{1}\b >>  d1, d3

d(ublin)* >> same as above for dublin instad of d

"""
def replace(x):
    
    
    re1 = re.search(r'\bd\d{2}|d\s\d{2}|d\d{1}w?|d\s\d{1,2}w?|d\d{1}\b', x)
    re2 = re.search(r'\bd\dublin{2}|dublin\s\d{2}|dublin\d{1}w?|dublin\s\d{1,2}w?|dublin\d{1}\b', x)
    x = x.strip()
    
    if re1:
#         print('dublin ' + re1[0][1:] )
        return 'dublin ' + re1[0][1:] 
    elif re2:
#         print('dublin ' + re2[0][5:] )
        if isinstance(re2[0][6], int):
            return 'dublin ' + re2[0][6:]
        else:
            return 'dublin ' + re2[0][7:]

    else:
        return ''
    
df=df_read.copy()
df['street_cleansed'] = df['street'].apply(lambda x: replace(x).replace('0', '') if not pd.isnull(x) else np.nan)

df = df.sample(frac=1)
df[['street', 'street_cleansed', 'longitude', 'latitude']].sample(10)

# df.loc[[27514157]]
# df.loc[[72253535]]
# df.head()
# df['street_cleansed'].unique().tolist()
# df[pd.isna(df['street_cleansed'])]

,street,street_cleansed,longitude,latitude
host_id,,,,
59969726,"lorcan avenue, santry, dublin, ireland",,-6.233232,53.392279
20204681,"brandon road, drimnagh, dublin, ireland",,-6.322432,53.327172
14169546,"seacourt, clontarf, dublin 03, ireland",dublin 3,-6.186789,53.362809
35687781,"spindrift ave, dublin, county dublin 15, ireland",dublin 15,-6.310522,53.377182
6518465,"sandymount avenue, ballsbridge, dublin, ireland",,-6.221151,53.328307
36693033,"parnell street, dublin, dublin, ireland",,-6.264242,53.351200
70533377,"pembroke gardens, ballsbridge, dublin, ireland",,-6.237191,53.332984
17234330,"gray st,, dublin 8, dublin, ireland",dublin 8,-6.278651,53.339819
27253218,"bloomfield avenue, donnybrook, dublin dublin 4, ireland",dublin 4,-6.244569,53.324992
46867874,"raglan road, ballsbridge, dublin, ireland",,-6.240774,53.328969

In [14]:
CleanDict = {
 '-' : np.nan, 
 '---': np.nan,
 '+353': np.nan,
#  '0000': np.nan,
#  '0007': 'dublin 7',
#  '001': 'dublin 1',
#  '00353' : np.nan,
#  '008': 'dublin 8',
#  '01 or 07': np.nan,
 'a': np.nan,
 'arran quay' : 'dublin 1',
 'ballygall' : 'dublin 8',
 'botanic' : 'dublin 9',
 'cherry': np.nan,
 'dublin' : np.nan,
 'grace' : np.nan,
 'grange': np.nan,
 'inns quay' : 'dublin 1',
 'kilmore' : np.nan,
 'malahide': np.nan,
 'mountjoy': 'dublin 1',
 'n' : np.nan,
 'na' : np.nan,
 'north' : np.nan,
 'palmerston' : 'dublin 20',
 'phoenix' : 'dublin 8',
 'south dock': np.nan,
 'stillorgan' : np.nan,
 'ushers' : 'dublin 1',
 'xxxx' : np.nan,
 'swords' : np.nan,
 'blackrock': np.nan,
 'dublin 0' : np.nan,   
 'dublin 35' : np.nan,
 'd': np.nan   
}
# CleanDict

In [15]:
# def clean(x):
#     try: 
#         return CleanDict[x] 
#     except:
#         return x
    
# df['street_cleansed'] = df['street_cleansed'].map(lambda x: clean(x))
# df.loc[[72253535]]

In [16]:
df['street_cleansed'].unique()

array(['dublin 4', 'dublin 1', 'dublin 18', 'dublin 2', nan, 'dublin 8',
       'dublin 6', 'dublin 3', 'dublin 11', 'dublin 6w', 'dublin 9',
       'dublin 7', 'dublin 5', 'dublin 12', 'dublin 0', 'dublin 13',
       'dublin 15', 'dublin 14', 'dublin 10', 'dublin 20', 'dublin 35',
       'dublin 17', 'dublin 16', 'dublin '], dtype=object)

In [17]:
# NaN

print(len(df[pd.isnull(df.street_cleansed)]))
df_nan = df[pd.isnull(df.street_cleansed)]
df_nan.columns
df_nan[['street', 'street_cleansed', 'longitude', 'latitude']]

2398

,street,street_cleansed,longitude,latitude
host_id,,,,
103567560,"gardiner street lower, dublin, county dublin, ireland",NaN,-6.257875,53.354777
27514157,"cherry field ave lower, dublin 6, dublin, ireland",NaN,-6.244353,53.320850
73572060,"foley street, dublin, dublin, ireland",NaN,-6.249698,53.353068
758607,"mellowes road, dublin, county dublin, ireland",NaN,-6.312058,53.391034
58390947,"mckee avenue, dublin, dublin, ireland",NaN,-6.300359,53.391177
34508497,"dublin, county dublin, ireland",NaN,-6.238558,53.373433
55770197,"hatch place, dublin, dublin, ireland",NaN,-6.256343,53.333636
3660754,"herberton st, dublin, dublin, ireland",NaN,-6.291733,53.336666
40262548,"synge street, dublin, county dublin, ireland",NaN,-6.267541,53.333928
70703835,"williams place south, dublin, dublin, ireland",NaN,-6.271644,53.336118
28189003,"nicholas street, dublin, county dublin, ireland",NaN,-6.272067,53.342345
57434,"wellington road, dublin 4, ireland",NaN,-6.240605,53.326823
34380975,"hogan square, hogan place, dublin, county dublin, ireland",NaN,-6.242771,53.339972
41373667,"saint augustine street, dublin, dublin 8, ireland",NaN,-6.275630,53.344593
55442809,"simmonscourt road, dublin, dublin, ireland",NaN,-6.228484,53.324406
46005834,"dublin, dublin, ireland",NaN,-6.245773,53.349032
77166525,"simmonscourt road, dublin, dublin, ireland",NaN,-6.226347,53.326054
103010901,"stillorgan road, dublin, county dublin, ireland",NaN,-6.219829,53.310650
2110301,"mountjoy square w, dublin, county dublin, ireland",NaN,-6.258864,53.354564
98845113,"mount argus park, dublin, county dublin, ireland",NaN,-6.288101,53.319759
44147189,"thomas street, dublin, dublin, ireland",NaN,-6.280921,53.342697
21473195,"bolton street, dublin, county dublin, ireland",NaN,-6.269147,53.352219
32672414,"pleasants street, dublin, dublin, ireland",NaN,-6.267100,53.334846
36693033,"barrow street, dublin, dublin, ireland",NaN,-6.236299,53.339318
9851769,"college close, tara street, dublin, dublin, ireland",NaN,-6.254237,53.345039
30410423,"cecilia street, dublin, dublin, ireland",NaN,-6.262487,53.346085
47656682,"north strand road, dublin, county dublin d03 t6p9, ireland",NaN,-6.239660,53.359222
8756530,"dublin, dublin, ireland",NaN,-6.236781,53.340806
15929897,"thompsons cottages, dublin, dublin, ireland",NaN,-6.250550,53.357302
29087610,"aungier street, dublin, dublin, ireland",NaN,-6.266263,53.339664
...,...,...,...,...
20972991,"rutland street lower, dublin, dublin, ireland",NaN,-6.250504,53.355305
58009823,"parnell street, dublin, county dublin, ireland",NaN,-6.264783,53.351949
17501731,"synge street, dublin, dublin, ireland",NaN,-6.267335,53.334163
42745658,"christchurch place, dublin8, dublin, ireland",NaN,-6.273219,53.344288
71110552,"waverley terrace, kenilworth square north, rathgar, dublin, ireland",NaN,-6.278853,53.318870
40950201,"north great george's street, dublin, dublin, ireland",NaN,-6.260650,53.354897
42913836,"murtagh road, dublin, dublin, ireland",NaN,-6.288044,53.352761
98952199,"tyrconnell road, dublin, county dublin, ireland",NaN,-6.325110,53.336107
51564408,"northumberland road, ballsbridge, dublin, ireland",NaN,-6.238415,53.335980
24373009,"love lane, dublin, county dublin, ireland",NaN,-6.241678,53.338432
435734,"saint kevin's road, dublin, dublin, ireland",NaN,-6.271860,53.330011
1189146,"adelaide road, dublin, dublin, dublin, ireland",NaN,-6.258141,53.331704
15116861,"chapel crescent, dublin, dublin, ireland",NaN,-6.313717,53.372619
17409889,"spring garden street, dublin, dublin, ireland",NaN,-6.240589,53.358443
43764629,"lime street, dublin, dublin, ireland",NaN,-6.243697,53.345344
54306070,"crane lane, dublin, dublin dublin, ireland",NaN,-6.269246,53.345143
817993,"mabel st, dublin, county dublin, ireland",NaN,-6.254907,53.361381
18933265,"castleforbes house, castleforbes road, dublin, dublin, ireland",NaN,-6.231312,53.349146
44836918,"bridgewater business centre, conyngham road, dublin, county dublin, ireland",NaN,-6.306400,53.348759
113562881,"hanover quay, dublin, county dublin, ireland",NaN,-6.234515,53.344709
25623156,"frederick street north, dublin, dublin, ireland",NaN,-6.265063,53.355887
58362798,"bachelors walk, dublin, dublin, ireland",NaN,-6.261587,53.346882
98792712,"mayor street lower, dublin, county dublin, ireland",NaN,-6.246544,53.349962
20694947,"belvidere road, dublin, dublin, ireland",NaN,-6.259088,53.359962
59326182,"reuben street, dolphins barn, dublin, ireland",NaN,-6.291845,53.334037
7312957,"villa park gardens, dublin, dublin, ireland",NaN,-6.315131,53.363396
34436953,"killarney parade, dublin, dublin, ireland",NaN,-6.264747,53.361505
42316194,"md. gardiner street, dublin, dublin ---, ireland",NaN,-6.256123,53.354802
14786471,"dublin, ireland",NaN,-6.274576,53.307185
22227870,"arbutus place, dublin 8, ireland",NaN,-6.272864,53.334297