In [33]:
# https://github.com/karthikvijayakumar/Kaggle/blob/master/AirBnB_Seattle/Seattle_AirBnB_exploration.ipynb
# https://www.citypopulation.de/php/ireland-dublin.php
# https://data.gov.ie/dataset/dublin-city-roads-and-streets
# https://www.geopostcodes.com/Dublin_10_Dublin

"""
New area is the five administrative areas within Dublin City Council 
-1-Central, 2-North West, 3-North West, 4-South Central and 5-South East
"""

'\nNew area is the five administrative areas within Dublin City Council \n-1-Central, 2-North West, 3-North West, 4-South Central and 5-South East\n'

In [15]:
# !pip install sklearn
# !pip install xlrd

In [3]:
import pandas as pd
import numpy as np
import csv
import re
pd.set_option('display.max_colwidth', -1)

In [13]:
%cd ../../data/airbnbdata/geo
# !ls

[Errno 2] No such file or directory: '../../data/airbnbdata/geo'
/usr/local/bin/notebooks/data/airbnbdata/geo

In [32]:
filename = 'DCC_DublincityRoadsandStreets.csv' # 15 cols
streets = pd.read_csv(filename,
                       encoding='latin-1',
#                        compression='gzip',
                       sep=',',
#                        index_col = 'host_id',
                       header=0
                       )

print(streets.shape)
# streets = streets[['street_name', 'new_area_code']]
streets['street_name'] = streets['street_name'].str.lower()
streets.head(1)
streets[streets.street_name.str.contains('donnybrook castle')]

(4771, 13)

,street_name,street_class_code,new_area_code,surface_type_code,Subarea,Subarea EA,line_length,route_no,year_built,os_sheets,road_start,road_finish,Irish
1250,donnybrook castle,5.0,5,1.0,12,25,0.0,NaN,1995.0,332908.0,STILLORGAN ROAD,NaN,Caisleán Domnach Broc

In [25]:
filename = 'dcc-dublincityroadsandstreetsp20120619-1146.xls' # 15 cols
streets = pd.read_excel(filename)

print(streets.shape)
# streets = streets[['street_name', 'new_area_code']]
streets['street_name'] = streets['street_name'].str.lower()
streets.head(1)
streets[streets.street_name=='vernon drive']

(4771, 14)

,street_name,street_class_code,new_area_code,surface_type_code,Subarea,Subarea EA,line_length,route_no,year_built,in_charge,os_sheets,road_start,road_finish,Irish
4047,vernon drive,6.0,3,2.0,15,15,196.0,NaN,NaN,Y,319906.0,CASTLE AVENUE,NaN,Céide Bhearnon