In [41]:
# !pip install memory_profiler

In [42]:
import pandas as pd
import numpy as np
np.set_printoptions(edgeitems=30, linewidth=100000, 
    formatter=dict(float=lambda x: "%.3g" % x))
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [43]:
%cd ../../data/airbnbdata
filename = '201702_listings_preproc.csv' # 15 cols

df = pd.read_csv(filename,
                       encoding='utf-8',
                       sep=',',
#                        index_col = 'host_id',
                       header=0
                       )
print(len(df))
df['street'] = df['street'].apply(lambda x: x.split(',')[0])

/usr/local/bin/notebooks/data/airbnbdata
5377

### Split Dataset: known vs. unknown Zip

In [44]:
df_unknown_zip = df[pd.isnull(df.zipcode_new)]
df_known_zip = df[~pd.isnull(df.zipcode_new)]

print('# unknown zip: {}'.format(len(df_unknown_zip)))
print('# known zip: {}'.format(len(df_known_zip)))
print(len(df_known_zip)+len(df_unknown_zip))

# unknown zip: 2193
# known zip: 3184
5377

### Generate Matrix X of street names with know Zip

In [45]:

streets_known_zip = df_known_zip.reset_index().copy()
streets_known_zip = streets_known_zip[['street', 'street_cleansed', 'zipcode_new']]
streets_known_zip.head()

          street street_cleansed zipcode_new
0     brookfield         kimmage   dublin 12
1    military rd             NaN    dublin 8
2  reuben street             NaN    dublin 8
3    dame street     dame street    dublin 2
4   capel street    capel street    dublin 1

#### Create corpus of street names (known Zip)

In [46]:
corpus = streets_known_zip.street.values.tolist()
corpus[:5]

['brookfield', 'military rd', 'reuben street', 'dame street', 'capel street']

#### Compile Document-Term Matrix

In [59]:
# init
# count_vec = CountVectorizer(stop_words="english", analyzer='word', 
#                             ngram_range=(1, 1), max_df=1.0, min_df=1, max_features=None)

tf = TfidfVectorizer(smooth_idf=False, sublinear_tf=False, norm=None, analyzer='word')

# Transforms the data into a bag of words
train_vocab = tf.fit(corpus)
X = tf.transform(corpus)
X.todense()[:5, :]

matrix([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..., 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..., 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..., 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..., 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..., 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

### Generate Matrix W of street names with unknow Zip

In [48]:
streets_unknown_zip = df_unknown_zip.reset_index().copy()#.head()
streets_unknown_zip = streets_unknown_zip[['street', 'street_cleansed', 'zipcode_new']]
streets_unknown_zip.head()

                  street street_cleansed zipcode_new
0      north strand road           north         NaN
1                 dublin             NaN         NaN
2  exchange street upper             NaN         NaN
3       donnellan avenue             NaN         NaN
4  richmond street south             NaN         NaN

In [49]:
streets_unknown_zip = df_unknown_zip.copy()#.head()
q = streets_unknown_zip.street.values.tolist()
q[:5]

['north strand road',
 'dublin',
 'exchange street upper',
 'donnellan avenue',
 'richmond street south']

In [60]:
W = tf.transform(q).todense()
W[:5, :]

matrix([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..., 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..., 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..., 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..., 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..., 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [61]:
res = X @ W.T
res[:5, :]

matrix([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..., 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..., 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 7.48, 0, 7.48, 0, 0, 0, 7.48, 0, 0, 7.48, 0, 7.48, 0, 7.48, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7.48, 7.48, 0, 0, 0, ..., 7.48, 7.48, 0, 0, 0, 0, 0, 0, 0, 7.48, 0, 0, 7.48, 0, 0, 0, 7.48, 0, 0, 7.48, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7.48],
        [0, 0, 7.48, 0, 7.48, 0, 0, 0, 7.48, 0, 0, 7.48, 0, 7.48, 0, 7.48, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7.48, 7.48, 0, 0, 0, ..., 7.48, 7.48, 0, 0, 0, 0, 0, 0, 0, 7.48, 0, 0, 7.48, 0, 0, 0, 7.48, 0, 0, 7.48, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7.48],
        [0, 0, 7.48, 0, 7.48, 0, 0, 0, 7.48, 0, 0, 7.48, 0, 7.48, 0, 7.48, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7.48, 7.48, 0, 0, 0, ..., 7.48, 7.48, 0, 0, 0, 0, 0, 0, 0, 7.48, 0, 0, 7.48, 0, 0, 0, 7.48, 0, 0, 7.48, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7.48]])

#### argmax

In [52]:
ix = np.argmax(res, axis=0) # axis=0 > run through each column
ix = [item for sublist in ix.tolist() for item in sublist]
ix[:10]

[440, 278, 1157, 17, 29, 278, 43, 263, 1181, 2614]

#### max()

In [53]:
scores = pd.DataFrame(res).max().values.tolist()
scores[:5]

[69.26373880863443,
 34.18761624250555,
 72.60867920408916,
 15.174215577237268,
 57.49574786281826]

#### select argmax in df of interest

In [54]:
tmp = df_known_zip.iloc[ix, :].copy()
tmp[['street', 'street_cleansed', 'zipcode_new']].head()

                     street street_cleansed zipcode_new
734       north strand road           north    dublin 3
457                  dublin             NaN    dublin 2
1933  exchange street upper             NaN    dublin 8
24          richmond avenue        fairview    dublin 3
44    richmond avenue south       rathmines    dublin 6

In [55]:
# streets_unknown_zip['street']

In [56]:
streets_unknown_zip['zipcode_new'] = tmp.zipcode_new.tolist()
streets_unknown_zip['scores'] = scores

streets_unknown_zip[['street', 'street_cleansed', 'zipcode_new', 'scores']]

                           street street_cleansed zipcode_new      scores
0               north strand road           north    dublin 3   69.263739
12                         dublin             NaN    dublin 2   34.187616
13          exchange street upper             NaN    dublin 8   72.608679
14               donnellan avenue             NaN    dublin 3   15.174216
18          richmond street south             NaN    dublin 6   57.495748
20                         dublin             NaN    dublin 2   34.187616
22                   spencer dock           north    dublin 1   76.180570
25                   portland row             NaN    dublin 1   85.355490
26                 aungier street             NaN    dublin 8   53.219239
29              villa park avenue             NaN    dublin 7   72.376604
34                         dublin             NaN    dublin 2   34.187616
36            fownes street upper             NaN    dublin 2   99.402172
37                valentia parade             NaN    dublin 7  103.833388
38                   foley street             NaN    dublin 1   54.655511
41          saint james's terrace             NaN    dublin 8   81.153072
47          north circular street           north    dublin 7   47.015451
49               doyle's cottages             NaN    dublin 8   44.462201
53                     lamb alley             NaN    dublin 8  125.701612
56                 blackhorse ave             NaN    dublin 7  109.175256
57                north wall quay           north    dublin 1  101.616092
58                 emerald square             NaN    dublin 6   20.078698
59          mountjoy square south        mountjoy    dublin 1   80.333274
61           grange park crescent          grange    dublin 5   98.968299
64                distillery road             NaN    dublin 3   90.863235
67                 whitworth road             NaN    dublin 9   65.314928
69                 aungier street             NaN    dublin 8   53.219239
75                   foley street             NaN    dublin 1   54.655511
77                         dublin             NaN    dublin 2   34.187616
78                      nelson st             NaN    dublin 8   32.464730
80        a saint joseph's parade             NaN    dublin 7  121.134910
...                           ...             ...         ...         ...
5306       brunswick street north           north   dublin  7   74.865038
5310  north great george's street           north    dublin 1  113.002108
5311                       dublin             NaN    dublin 2   34.187616
5312               parkview green             NaN    dublin 4   70.102882
5313      ivy exchange apartments             NaN    dublin 1  113.412270
5315                 ivy exchange             NaN    dublin 1  113.412270
5317              leonard's court             NaN   dublin 17   22.547354
5319                the olde dock             NaN    dublin 1   45.350020
5320             crescent gardens             NaN    dublin 3   69.532729
5321           mount street upper             NaN    dublin 3   72.513820
5323                       dublin             NaN    dublin 2   34.187616
5324             grand canal quay             NaN    dublin 2   88.694048
5326           mayor street lower             NaN    dublin 1  104.875409
5333             bushy park house             NaN    dublin 6   67.472037
5335               collins avenue             NaN    dublin 9   70.772946
5338     sir john rogerson's quay             NaN    dublin 1  147.438424
5342               aungier street             NaN    dublin 8   53.219239
5343                       dublin             NaN    dublin 2   34.187616
5346                       dublin             NaN    dublin 2   34.187616
5347                church street             NaN    dublin 7   54.655511
5351             montgomery house             NaN    dublin 1   23.207326
5354              sunbury gardens             NaN    dublin 6   30.686426
5356                   the coombe             NaN    dublin 8   92.777892
5358              westland square             NaN    dublin 2   79.054942
5359                 grattan hall             NaN    dublin 2   88.166370
5362                 hanover quay             NaN    dublin 2   64.200885
5365          north circular road           north    dublin 7   53.354136
5366               burleigh court             NaN    dublin 4   70.102882
5371                 granby place             NaN    dublin 1   91.477251
5372               parnell street             NaN    dublin 1   38.494958

[2193 rows x 4 columns]

#### Manual Inspection / Spot Check

In [57]:
tmp = streets_unknown_zip[streets_unknown_zip.scores<20].copy()
tmp[['street', 'street_cleansed', 'zipcode_new', 'scores']]

                  street street_cleansed zipcode_new     scores
14      donnellan avenue             NaN    dublin 3  15.174216
91         lennox street             NaN    dublin 2  14.953796
92        captain's road             NaN    dublin 9  12.677369
134       cecilia street             NaN    dublin 2  14.953796
221    fitzgerald street             NaN    dublin 2  14.953796
242           knockmaree             NaN   dublin 12   0.000000
311        lomond avenue             NaN    dublin 3  15.174216
357       munster street             NaN    dublin 2  14.953796
392         gilbert road             NaN    dublin 9  12.677369
506         killeen road             NaN    dublin 9  12.677369
527              royston             NaN   dublin 12   0.000000
538       hawkins street             NaN    dublin 2  14.953796
562          nash street             NaN    dublin 2  14.953796
656          raphoe road             NaN    dublin 9  12.677369
669      mountshannon rd             NaN    dublin 8  16.835010
749          asgard road             NaN    dublin 9  12.677369
927                    a             NaN   dublin 12   0.000000
937       deanstown road             NaN    dublin 9  12.677369
960         killeen road             NaN    dublin 9  12.677369
984                                  NaN   dublin 12   0.000000
1014             royston             NaN   dublin 12   0.000000
1042        casimir road             NaN    dublin 9  12.677369
1109   a fassaugh avenue             NaN    dublin 3  15.174216
1202    henrietta street             NaN    dublin 2  14.953796
1206  strandville avenue             NaN    dublin 3  15.174216
1228      eustace street             NaN    dublin 2  14.953796
1269                                 NaN   dublin 12   0.000000
1411     stillorgan road      stillorgan    dublin 9  12.677369
1422         claude road             NaN    dublin 9  12.677369
1485       nelson street             NaN    dublin 2  14.953796
...                  ...             ...         ...        ...
4130       owen's avenue             NaN    dublin 3  15.174216
4137       fingal street             NaN    dublin 2  14.953796
4147      raymond street             NaN    dublin 2  14.953796
4161        a mckee road             NaN    dublin 9  12.677369
4202         northcliffe           north   dublin 12   0.000000
4203     clareville road             NaN    dublin 9  12.677369
4267       phelan avenue             NaN    dublin 3  15.174216
4365        mckee avenue             NaN    dublin 3  15.174216
4401     roseglen avenue             NaN    dublin 3  15.174216
4438       bunratty road             NaN    dublin 9  12.677369
4494     b lennox street             NaN    dublin 2  14.953796
4509    fairfield avenue             NaN    dublin 3  15.174216
4550   fitzgibbon street             NaN    dublin 2  14.953796
4562       arnott street             NaN    dublin 2  14.953796
4699             코크 스트리트             NaN   dublin 12   0.000000
4718        killeen road             NaN    dublin 9  12.677369
4736      cecilia street             NaN    dublin 2  14.953796
4780         nash street             NaN    dublin 2  14.953796
4849                   a          swords   dublin 12   0.000000
4896      shantalla road             NaN    dublin 9  12.677369
4937       bunratty road             NaN    dublin 9  12.677369
4963         cullenswood           north   dublin 12   0.000000
4977                                 NaN   dublin 12   0.000000
4978   fitzgerald street             NaN    dublin 2  14.953796
5045       nassau street             NaN    dublin 2  14.953796
5083     brighton avenue             NaN    dublin 3  15.174216
5148     sycamore street             NaN    dublin 2  14.953796
5153       bunratty road             NaN    dublin 9  12.677369
5160        black street             NaN    dublin 2  14.953796
5282     kilbarrack road             NaN    dublin 9  12.677369

[119 rows x 4 columns]

In [58]:
streets_unknown_zip['zipcode_new'] = (streets_unknown_zip.apply(lambda row: np.nan if row['scores'] < 16 else row['zipcode_new']
                              , axis=1))
# streets_unknown_zip[['street', 'street_cleansed', 'zipcode_new', 'scores']]
print(len(streets_unknown_zip[pd.isnull(streets_unknown_zip.zipcode_new)]))

114